.navbar-brand{
    color: yellow;
}
.nav-link{
    color: yellow;
}

.jumbotron{
    background-image: url(rsz_6hawaiian.jpg);
    padding-top: 20%;
    padding-bottom: 20%;
}

.jumbotron1{
    background-image: url(rsz_dinner.jpg);
    background-attachment: fixed;
    background-size:cover;
    height: 100%;
    widows: 10px;
    padding-top: 20%;
    padding-bottom: 20%;
}
.jumbotron2{
    background-image: url(pray.jpg);
    background-attachment: fixed;
    background-size:cover;
    height: 100%;
    widows: 10px;
    padding-top: 20%;
    padding-bottom: 20%;
}
.jumbotron3{
    background-image: url(love1.jpg);
    background-attachment: fixed;
    background-size:cover;
    height: 100%;
    widows: 10px;
    padding-top: 20%;
    padding-bottom: 20%;
}

.pray1{
    height:auto;
    width:100%;
}

h1{
    color: blue;
}

p{
    color: blue;
}

h2{
    color: yellow;
}

p2{
    color: yellow;
}

h3{
    color: yellow;
}

p3{
    color: yellow;
}
